html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212; /* Dark background */
    color: #fff;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 15px;
    background-color: #ed6a5a; /* Vibrant accent color */
    color: #fff;
    animation: fadeInUp 1.5s;
}

.animated-title {
    animation: fadeInUp 1.5s;
}

#navbar ul {
    list-style: none;
    text-align: center;
}

.animated-link {
    padding: 15px 0;
    border-bottom: 1px solid transparent;
    color: #ed6a5a; /* Vibrant accent color */
    transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

.animated-link:hover {
    border-color: #ed6a5a;
    color: #fff; /* Text color on hover */
    transform: scale(1.1);
    animation: bounce 0.5s;
}

#main-doc {
    width: 100%;
    padding: 20px;
}

/* Additional animations for sections */
.animated-fadeInUp {
    animation: fadeInUp 1.5s;
}

.animated-fadeInDown {
    animation: fadeInDown 1.5s;
}

.animated-fadeInLeft {
    animation: fadeInLeft 1.5s;
}

.animated-fadeInRight {
    animation: fadeInRight 1.5s;
}

/* Theme adjustments for code elements */
code {
    background-color: #2b2b2b; /* Dark code background */
    color: #ed6a5a; /* Vibrant accent color for code */
    padding: 5px;
    line-height: 1.5;
    margin-left: 20px;
    border-radius: 4px;
}

code:hover {
    background-color: #333;
}

/* Responsive design for smaller screens */
@media (max-width: 750px) {
    .title {
        font-size: 1.5rem;
    }
    .main-section {
        margin: 10px 0;
    }
}

/* Keyframes for fadeIn animations */
@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
